@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import 'utilities/variables';

@import 'base/reset';
@import 'base/scaffholding';
@import 'base/typography';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

@import 'components/main-nav';
@import 'components/card';
@import 'components/disclaimer';
