@use "../utilities/variables" as v;

body {

  margin: 0 auto;
  max-width: 1920px;

  background: var(--body-background);

}

html {

  &.nightmode {

    --body-background: v.$dark;
    --body-background-lighter: v.$dark-l1;
    --body-background-darker: v.$dark-s1;

    --font-colour: v.$light;

    --card-shadow: v.$inverted-shadow;

  }

  &.daymode {

    --body-background: v.$light;
    --body-background-lighter: v.$light-l1;
    --body-background-darker: v.$light-s1;

    --font-colour: v.$dark;

    --card-shadow: v.$shadow;

  }


}
