@use '../utilities/variables' as *;

body {

  margin: 0 auto;
  max-width: 1920px;

  background: var(--body-background);
}

html.nightmode {
  --body-background: #{$dark};
  --body-background-lighter: #{$dark-l1};
  --body-background-darker: #{$dark-s1};
  --font-colour: #{$light};
  --card-shadow: #{$inverted-shadow};
}

html.daymode {
  --body-background: #{$light};
  --body-background-lighter: #{$light-l1};
  --body-background-darker: #{$light-s1};
  --font-colour: #{$dark};
  --card-shadow: #{$shadow};
}