@use '../utilities/variables' as v;

:root { font-size: 62.5%; }



body {

  font-family: v.$font-family, v.$font-stack;
  font-size: v.$font-size;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height;
  color: var(--font-colour);

}


a {

  text-decoration: none;
  color: var(--linkc);

  transition: color 300ms ease-in-out;


  &:hover { color: var(--linkc-hover) }
  &:focus { outline: var(--focus-thickness) solid var(--focus-colour); }


}



h1, h2, h3, h4,
strong { font-weight: v.$font-weight-bold; }

h1 {

  margin: 0 0 v.$space-l 0;

  font-size: v.$font-size-xl;

}

h2 {

  margin: v.$space-xl 0 v.$space-l 0;

  font-size: v.$font-size-l;

}

h3 {

  margin: v.$space-l 0 v.$space-m 0;

  font-size: v.$font-size;

}



em { font-style: italic; }


ul, ol { margin-left: v.$space-xl; }
ul { list-style-type: '— '; }
ol { list-style-type: upper-roman; }
