:root { font-size: 62.5%; }



body {

  font-family: $font-family, $font-stack;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  line-height: $line-height;
  color: var(--font-colour);

}



a {

  text-decoration: none;
  color: var(--linkc);

  transition: color 300ms ease-in-out;


  &:hover { color: var(--linkc-hover) }

}



h1, h2, h3, h4,
strong { font-weight: $font-weight-bold; }

h1 {

  margin: 0 0 $space-l 0;

  font-size: $font-size-xl;

}

h2 {

  margin: $space-xl 0 $space-l 0;

  font-size: $font-size-l;

}

h3 {

  margin: $space-l 0 $space-m 0;

  font-size: $font-size;

}



em { font-style: italic; }


ul, ol { margin-left: $space-xl; }
ul { list-style-type: '— '; }
ol { list-style-type: upper-roman; }
