:root { font-size: 62.5%; }



body {

  font-family: $font-family, $font-stack;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  line-height: $line-height;
  color: var(--font-colour);

}



a {

  text-decoration: none;
  color: inherit;

  transition: opacity 300ms ease-in-out;


  // :hover:not(.meta *) { opacity: .8; }

}



h1,
h2,
h3,
strong { font-weight: $font-weight-bold; }
