doctype
html
  head

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    title FirefoxCSS Store
    meta(name='description', content='A curated list of Firefox userChrome.css Themes.')

    link(rel='shortcut icon', type='img/png', href='icon.png')

    link(rel='stylesheet', href='assets/css/main.min.css')


  body

    block header
      include ../includes/header

    block content

    block footer
      include ../includes/footer

    script(src='assets/js/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js' type="text/javascript")
