footer#main_footer
  .social_links
    a.social_links-icon(href='https://www.reddit.com/r/firefoxcss')
      i.fab.fa-reddit
    a.social_links-icon(href='https://github.com/FirefoxCSS-Store/FirefoxCSS-Store.github.io')
      i.fab.fa-github
  p
    strong FirefoxCSS Store
    |  is maintained by the community with&nbsp;
    i.fas.fa-heart
  a(href="disclaimer.html") Disclaimer
