header#main_header
  h3.header-branding FirefoxCSS Store

  nav#main_nav
      a(href='index.html') Theme List
      a(href='https://github.com/FirefoxCSS-Store/FirefoxCSS-Store.github.io/blob/main/README.md#generic-installation') Installation Guide
      a(href='https://github.com/FirefoxCSS-Store/FirefoxCSS-Store.github.io/blob/main/README.md#add-your-theme-3') Submit your Theme
      a#js-themeSwitcher(href='#')
        i.fas.fa-moon
