header#main_header
  h3.header-branding FirefoxCSS Store

  nav#main_nav
      a(href='index.html') Theme List
      a#js-themeSwitcher(href='#')
        i.fas.fa-moon
      select#js-sort-menu
        option(name='updated') Updated
        option(name='stars') Stars
        option(name='latest') Latest
        option(name='oldest') Oldest
        option(name='random') Random
      div.searchform(method='get')
        .inputgroup
          input.searchinput#searchInput(type='text', placeholder='Search')
          button.btn-submit.searchsubmit#searchButton(type='submit')
            i.fas.fa-search
