header#main_header
  h3.header-branding FirefoxCSS Store

  nav#main_nav
      a(href='index.html') Theme List
      select(id="browser")
        option(value="select") Select a browser
        option(value="firefox") Firefox
        option(value="firefox-esr") Firefox ESR
        option(value="firefox-beta") Firefox Beta
        option(value="firefox-dev") Firefox Dev 
        option(value="firefox-nightly") Firefox Nightly
        option(value="waterfox") Waterfox
        option(value="pulse") Pulse browser
      a#js-themeSwitcher(href='#')
        i.fas.fa-moon
      a#js-sortSwitcher(href='#')
        i.fas.fa-sort
      div.searchform(method='get')
        .inputgroup
          input.searchinput#searchInput(type='text', placeholder='Search')
          button.btn-submit.searchsubmit#searchButton(type='submit')
            i.fas.fa-search
