@use '../utilities/variables' as v;

#main_header {

  display: flex; flex-direction: column;
  align-items: center; justify-content: space-between;

  margin: v.$space-xxl 0; padding: 0 v.$space-xl;


  @media (min-width: 792px) { flex-direction: row; }

}



.header-branding {

  font-size: v.$font-size-l;
  font-weight: v.$font-weight-bold;

}
