#main_header {

  display: flex; flex-direction: column;
  align-items: center; justify-content: space-between;

  margin: $space-xxl 0; padding: 0 $space-xl;


  @media (min-width: 792px) { flex-direction: row; }

}



.header-branding {

  font-size: $font-size-l;
  font-weight: $font-weight-bold;

}

select {

  background: var(--body-background);
  color: var(--font-color);
  border: none;
  appearance: button;
  padding: 0;
  margin: 0;

}

select option {
  
    background: var(--body-background);
    color: var(--font-color);
    margin: 0;
    
}
