@use '../utilities/variables' as v;

html {
  scrollbar-width: thin;
  scrollbar-color: var(--font-colour) var(--body-background);
}

#main_content { margin: 0; padding: v.$space-xl; }


#themes_container {

  display: grid; gap: v.$space-xl;
  grid-template: auto / repeat(auto-fit, minmax(360px, 1fr));

}
