@use '../utilities/variables' as v;

.btn {

  padding: v.$space-m v.$space-l;

  border-radius: v.$border-radius;
  border: none;
  background: var(--body-background);
  box-shadow: v.$shadow;

  font-size: v.$font-size;
  line-height: v.$line-height;
  color: var(--font-colour);


  &:hover,
  &:focus { background: var(--body-background-darker); }
  &:focus { outline: var(--focus-thickness) solid var(--focus-colour); }

}
