@use '../utilities/variables' as v;

input,
.btn-submit {

  padding: v.$space-s v.$space-m;

  border-radius: v.$border-radius-small;
  border: 1px solid var(--body-background-darker);
  background: var(--body-background-lighter);

  font-family: inherit;
  font-size: inherit;
  color: var(--font-colour);


  &:focus { outline: var(--focus-thickness) solid var(--focus-colour); }

}



.inputgroup {

  display: flex;

  height: 100%;

}
