#lightbox {

  display: flex; flex-direction: column;
  align-items: center; justify-content: center;

  position: fixed;
  top: 0; left: 0;
  z-index: 1;

  width: 100vw; height: 100vh;

  background: var(--body-background);


  img {

    max-width: 90vw; max-height: 80vh;

    border-radius: $border-radius;
    border: 1px solid var(--body-background-darker);
    background: var(--body-background-darker);

  }


  .btn-close-lightbox {

    position: absolute;
    top: $space-l; right: $space-l;

    display: block;

  }

  &.lightbox-card {
    background: #0008 !important;
    backdrop-filter: blur(4px);

    div {
      padding: 16px;
      border-radius: 4px;
      background: var(--body-background);

      ul { list-style-type: disc; }
      ol { list-style-type: decimal; }
    }
  }
}
