.searchinput {

  // width: clamp(200px, 30vw, 600px);

  border-top-right-radius: 0; border-bottom-right-radius: 0;
  border-right: none;

}


.searchsubmit {

  border-top-left-radius: 0; border-bottom-left-radius: 0;
  border-left: none;
  background: var(--body-background-darker);

}
